@model ApplicationMVC.Models.Job

@{
    ViewData["Title"] = "AddJob";
}

<h1>Add Job</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddJob">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="JobTitle" class="control-label"></label>
                <input asp-for="JobTitle" class="form-control" />
                <span asp-validation-for="JobTitle" class="text-danger"></span>
            </div>
            <div class="mb-2">
                <label class="control-label">Department</label>
                <select asp-for="DepartmentId" class="form-control" asp-items="ViewBag.DepartmentsList">
                    <option>---Select---</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
